# Database Configuration
DB_HOST=host
DB_PORT=port
DB_USERNAME=db
DB_PASSWORD=your_password
DB_DATABASE=db

# JWT Configuration
JWT_SECRET=Mark-secret-key-here
JWT_EXPIRATION=1h

# Application
PORT=3000
NODE_ENV=development
